#header {
  text-align: center;
  border: dashed;
  font-family: cursive;
  border-width: thin;
  background-color: red;
  color: #3399ff;
}

#fatHazardSays {
  text-align: center;
  background-color: gold;
  color: red;
}

#years {
  text-align: center;
  background-color: blue;
  color: magenta;
}

#havingSex {
  text-align: center;
  background-color: pink;
  color: white;
}

#skillsArea {
  text-align: center;
  background-color: orange;
  color: black;
}

#footer {
  position: fixed;
  height: 50px;
  background-color: black;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
}

#patch {
  color:green;
}

#left {
  display: inline-block;
  width: 40%;
}

#right {
  display: inline-block;
  width: 40%;

}
