<div class="container-fluid">
  <h2>Lifetime</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Age</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Season</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Resources</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Money</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Time</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>
  <h2>
    Actions
  </h2>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <h2>Social</h2>
  <div class="row">
    <div class="col-sm-12">
      Social information goes here.
    </div>
  </div>
</div>